$size: 90px;

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(6, 16, 28, 1);
    min-width: 400px;
    height: 100vh;
    padding: 5rem 1rem;

    &__buttons {
        width: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
        margin-top: 5rem;

        &__image {
            height: 100%;
            width: 100%;
            padding: 1rem;
        }
    }

    &__link {
        color: white;
        font-size: 3rem;
        font-weight: bold;
    }
}