.calculator__body {
    display: flex;
    flex-direction: column;

    &__calculator {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 450px;
        height: fit-content;
        gap: 2rem;
        align-items: center;
        justify-content: center;

        &__text {
            color: #ffffff;
            font-size: 2rem;
        }

        &__input {
            display: flex;
            flex-direction: row;
            margin-bottom: 1rem;
            align-items: center;
            justify-content: space-between;

            &__result {
                text-align: right;
                color: #ffffff;
                font-size: 3rem;
            }

            &__clear {
                width: 3rem;
                cursor: pointer;
            }
        }

        &__count {
            text-align: left;
            color: #ffffff;
            font-size: 5rem;
            margin-top: 1.5rem;
        }
    }
}




