.notes-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}