.weather-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 2rem;

    &__searching-section {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}