.weather-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    width: 100%;
    gap: 2rem;

    &__result-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: 30px;
        color: white;
        gap: 1rem;
    }

    &__searching-section {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}