@font-face {
  font-family: 'Micar';
  src: url('./assets/fonts/Mikar.ttf');
}

.App {
  display: flex;
  text-align: center;
  background-color: rgba(23, 36, 55, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Micar;
}
