@font-face {
  font-family: 'Micar';
  src: url('shared/assets/fonts/Mikar.ttf');
}

body {
  margin: 0;
  font-family: Micar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
}


